In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("charging_data.csv")
data = pd.DataFrame(data)
data.head()

,Unnamed: 0,betreiber,art_der_ladeeinrichung,anzahl_ladepunkte,anschlussleistung,steckertypen1,steckertypen2,steckertypen3,steckertypen4,p1_kw,...,p4_kw,kreis_kreisfreie_stadt,ort,postleitzahl,strasse,hausnummer,adresszusatz,inbetriebnahmedatum,breitengrad,laengengrad
0,0,GGEW AG,Normalladeeinrichtung,1,4.6,AC Steckdose Typ 2,NaN,NaN,NaN,4.6,...,NaN,Landkreis Bergstraße,Lorsch,64653,Klosterstr.,23,NaN,2017-01-02,49.653064,8.572109
1,1,Pfalzwerke AG,Schnellladeeinrichtung,2,75.0,AC Steckdose Typ 2,DC Kupplung Combo,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Lorsch,64653,Nibelungenstraße,135-137,NaN,2021-04-27,49.652969,8.554764
2,2,ENTEGA Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Krumbacher Str.,39,NaN,2017-11-21,49.658037,8.787881
3,3,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Erbacher Str.,102,a,2022-04-08,49.663670,8.796830
4,4,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Schulstr.,12,NaN,2022-04-08,49.646360,8.781410

In [3]:
data.shape

(36770, 22)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36770 entries, 0 to 36769
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              36770 non-null  int64
 1   betreiber               36770 non-null  object
 2   art_der_ladeeinrichung  36770 non-null  object
 3   anzahl_ladepunkte       36770 non-null  int64
 4   anschlussleistung       36770 non-null  float64
 5   steckertypen1           36770 non-null  object
 6   steckertypen2           31111 non-null  object
 7   steckertypen3           2233 non-null   object
 8   steckertypen4           1132 non-null   object
 9   p1_kw                   36770 non-null  float64
 10  p2_kw                   31129 non-null  float64
 11  p3_kw                   2233 non-null   float64
 12  p4_kw                   1131 non-null   float64
 13  kreis_kreisfreie_stadt  36770 non-null  object
 14  ort                     36770 non-null  object
 15  postleitzahl            36770 non-null  int64
 16  strasse                 36770 non-null  object
 17  hausnummer              36770 non-null  object
 18  adresszusatz            4623 non-null   object
 19  inbetriebnahmedatum     36770 non-null  object
 20  breitengrad             36770 non-null  float64
 21  laengengrad             36770 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 6.2+ MB

In [5]:
data.nunique()

Unnamed: 0                36770
betreiber                  4772
art_der_ladeeinrichung        2
anzahl_ladepunkte             4
anschlussleistung           213
steckertypen1                41
steckertypen2                30
steckertypen3                19
steckertypen4                14
p1_kw                       116
p2_kw                       102
p3_kw                        44
p4_kw                        30
kreis_kreisfreie_stadt      400
ort                        5960
postleitzahl               6284
strasse                   18142
hausnummer                 1649
adresszusatz               2938
inbetriebnahmedatum        2902
breitengrad               33698
laengengrad               33794
dtype: int64

In [6]:
data.columns

Index(['Unnamed: 0', 'betreiber', 'art_der_ladeeinrichung',
       'anzahl_ladepunkte', 'anschlussleistung', 'steckertypen1',
       'steckertypen2', 'steckertypen3', 'steckertypen4', 'p1_kw', 'p2_kw',
       'p3_kw', 'p4_kw', 'kreis_kreisfreie_stadt', 'ort', 'postleitzahl',
       'strasse', 'hausnummer', 'adresszusatz', 'inbetriebnahmedatum',
       'breitengrad', 'laengengrad'],
      dtype='object')

In [7]:
data = data.rename(columns={"Unnamed: 0": "ladeeinrichtung_id"})
data["ladeeinrichtung_id"] = data["ladeeinrichtung_id"] + 1

In [8]:
data.head()

,ladeeinrichtung_id,betreiber,art_der_ladeeinrichung,anzahl_ladepunkte,anschlussleistung,steckertypen1,steckertypen2,steckertypen3,steckertypen4,p1_kw,...,p4_kw,kreis_kreisfreie_stadt,ort,postleitzahl,strasse,hausnummer,adresszusatz,inbetriebnahmedatum,breitengrad,laengengrad
0,1,GGEW AG,Normalladeeinrichtung,1,4.6,AC Steckdose Typ 2,NaN,NaN,NaN,4.6,...,NaN,Landkreis Bergstraße,Lorsch,64653,Klosterstr.,23,NaN,2017-01-02,49.653064,8.572109
1,2,Pfalzwerke AG,Schnellladeeinrichtung,2,75.0,AC Steckdose Typ 2,DC Kupplung Combo,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Lorsch,64653,Nibelungenstraße,135-137,NaN,2021-04-27,49.652969,8.554764
2,3,ENTEGA Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Krumbacher Str.,39,NaN,2017-11-21,49.658037,8.787881
3,4,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Erbacher Str.,102,a,2022-04-08,49.663670,8.796830
4,5,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Schulstr.,12,NaN,2022-04-08,49.646360,8.781410

In [9]:
data["betreiber_id"] = pd.factorize(data["betreiber"])[0]+1

In [10]:
# Kombinationen von Breitengrad und Längengrad mit einer eindeutigen ID versehen
data["standort_id"] = data.groupby(["breitengrad", "laengengrad"], sort=False).ngroup() + 1

In [11]:
# Adress-ID vergeben
data["adress_id"] = data.groupby(["postleitzahl", "strasse", "hausnummer"], sort=False).ngroup() + 1

In [12]:
data.head()

,ladeeinrichtung_id,betreiber,art_der_ladeeinrichung,anzahl_ladepunkte,anschlussleistung,steckertypen1,steckertypen2,steckertypen3,steckertypen4,p1_kw,...,postleitzahl,strasse,hausnummer,adresszusatz,inbetriebnahmedatum,breitengrad,laengengrad,betreiber_id,standort_id,adress_id
0,1,GGEW AG,Normalladeeinrichtung,1,4.6,AC Steckdose Typ 2,NaN,NaN,NaN,4.6,...,64653,Klosterstr.,23,NaN,2017-01-02,49.653064,8.572109,1,1,1
1,2,Pfalzwerke AG,Schnellladeeinrichtung,2,75.0,AC Steckdose Typ 2,DC Kupplung Combo,NaN,NaN,22.0,...,64653,Nibelungenstraße,135-137,NaN,2021-04-27,49.652969,8.554764,2,2,2
2,3,ENTEGA Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,64658,Krumbacher Str.,39,NaN,2017-11-21,49.658037,8.787881,3,3,3
3,4,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,64658,Erbacher Str.,102,a,2022-04-08,49.663670,8.796830,4,4,4
4,5,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,64658,Schulstr.,12,NaN,2022-04-08,49.646360,8.781410,4,5,5

In [13]:
data.nunique()

ladeeinrichtung_id        36770
betreiber                  4772
art_der_ladeeinrichung        2
anzahl_ladepunkte             4
anschlussleistung           213
steckertypen1                41
steckertypen2                30
steckertypen3                19
steckertypen4                14
p1_kw                       116
p2_kw                       102
p3_kw                        44
p4_kw                        30
kreis_kreisfreie_stadt      400
ort                        5960
postleitzahl               6284
strasse                   18142
hausnummer                 1649
adresszusatz               2938
inbetriebnahmedatum        2902
breitengrad               33698
laengengrad               33794
betreiber_id               4772
standort_id               34434
adress_id                 28909
dtype: int64

In [14]:
mehrere_standort_ids = data.groupby("adress_id")["standort_id"].nunique()
mehrere_standort_ids = mehrere_standort_ids[mehrere_standort_ids > 1]

print("Adress IDs mit mehreren Standort IDs:")
print(mehrere_standort_ids)

Adress IDs mit mehreren Standort IDs:
adress_id
49       2
54       2
59       2
63       7
72       2
        ..
28692    2
28848    2
28861    2
28869    2
28902    2
Name: standort_id, Length: 2081, dtype: int64

In [15]:
mehrere_adress_ids = data.groupby("standort_id")["adress_id"].nunique()
mehrere_adress_ids = mehrere_adress_ids[mehrere_adress_ids > 1]

print("Standort IDs mit mehreren Adress IDs:")
print(mehrere_adress_ids)

Standort IDs mit mehreren Adress IDs:
standort_id
24       2
26       3
40       2
45       2
76       2
        ..
32927    2
33854    2
34057    2
34226    2
34356    2
Name: adress_id, Length: 454, dtype: int64

In [16]:
duplikate = data.groupby("standort_id")["adress_id"].nunique()
duplikate = duplikate[duplikate > 1]
print(f"Standorte mit mehreren Adressen:\n{duplikate}")

Standorte mit mehreren Adressen:
standort_id
24       2
26       3
40       2
45       2
76       2
        ..
32927    2
33854    2
34057    2
34226    2
34356    2
Name: adress_id, Length: 454, dtype: int64

In [17]:
# Zuordnen von einer einzigen (aktuellsten) Adresse für den gleichen Standort (nach Koordinaten)

data = data.sort_values("inbetriebnahmedatum").drop_duplicates(subset=["standort_id"], keep="last")


# Ausgabe des bereinigten DataFrames
data.head()

,ladeeinrichtung_id,betreiber,art_der_ladeeinrichung,anzahl_ladepunkte,anschlussleistung,steckertypen1,steckertypen2,steckertypen3,steckertypen4,p1_kw,...,postleitzahl,strasse,hausnummer,adresszusatz,inbetriebnahmedatum,breitengrad,laengengrad,betreiber_id,standort_id,adress_id
30764,30765,Ladestation Berglen Öschelbronn,Normalladeeinrichtung,1,11.0,"AC Steckdose Typ 2, AC Schuko",NaN,NaN,NaN,22.0,...,73663,Lilienstr.,9,NaN,1992-10-01,48.886880,9.461024,4277,28936,24537
23548,23549,Strähle Galvanik GmbH,Normalladeeinrichtung,3,22.0,"AC Steckdose Typ 2, AC Schuko","AC Steckdose Typ 2, AC Schuko","AC Steckdose Typ 2, AC Schuko",NaN,22.0,...,75059,Gewerbestrasse,16-18,NaN,2001-01-21,49.103776,8.811045,3598,22461,19260
19704,19705,Stadtwerke Ludwigslust-Grabow GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,19288,Alexandrinenplatz,0,NaN,2007-05-01,53.324631,11.498688,172,18806,16577
2475,2476,EGT Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,78120,Gerwigstraße,1,NaN,2008-07-19,48.051540,8.206910,534,2355,2042
35977,35978,Energieversorgung Oberhausen AG,Normalladeeinrichtung,2,22.0,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Steckdose Typ 2, AC Kupplung Typ 2",NaN,NaN,22.0,...,46047,Luise-Albertz-Platz,0,NaN,2009-01-02,51.492400,6.880100,1103,33716,28313

In [18]:
# Tabelle Standort

In [19]:
standort = data[['standort_id', 'breitengrad', 'laengengrad', 'adress_id']]

In [20]:
standort = standort.drop_duplicates()

In [21]:
standort.head()

       standort_id  breitengrad  laengengrad  adress_id
30764        28936    48.886880     9.461024      24537
23548        22461    49.103776     8.811045      19260
19704        18806    53.324631    11.498688      16577
2475          2355    48.051540     8.206910       2042
35977        33716    51.492400     6.880100      28313

In [22]:
standort.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34434 entries, 30764 to 26917
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   standort_id  34434 non-null  int64
 1   breitengrad  34434 non-null  float64
 2   laengengrad  34434 non-null  float64
 3   adress_id    34434 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 1.3 MB

In [23]:
standort.nunique()

standort_id    34434
breitengrad    33698
laengengrad    33794
adress_id      28470
dtype: int64

In [24]:
# Tabelle betreiber

In [25]:
betreiber = data[['betreiber_id', 'betreiber']]

In [26]:
betreiber = betreiber.drop_duplicates()

In [27]:
betreiber.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4746 entries, 30764 to 11569
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   betreiber_id  4746 non-null   int64
 1   betreiber     4746 non-null   object
dtypes: int64(1), object(1)
memory usage: 111.2+ KB

In [28]:
# Tabelle: adresse

In [29]:
data.columns

Index(['ladeeinrichtung_id', 'betreiber', 'art_der_ladeeinrichung',
       'anzahl_ladepunkte', 'anschlussleistung', 'steckertypen1',
       'steckertypen2', 'steckertypen3', 'steckertypen4', 'p1_kw', 'p2_kw',
       'p3_kw', 'p4_kw', 'kreis_kreisfreie_stadt', 'ort', 'postleitzahl',
       'strasse', 'hausnummer', 'adresszusatz', 'inbetriebnahmedatum',
       'breitengrad', 'laengengrad', 'betreiber_id', 'standort_id',
       'adress_id'],
      dtype='object')

In [30]:
adresse = data[['adress_id', 'kreis_kreisfreie_stadt', 'ort', 'postleitzahl','strasse', 'hausnummer']]

In [31]:
adresse = adresse.drop_duplicates()

In [32]:
adresse.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28568 entries, 30764 to 26917
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adress_id               28568 non-null  int64
 1   kreis_kreisfreie_stadt  28568 non-null  object
 2   ort                     28568 non-null  object
 3   postleitzahl            28568 non-null  int64
 4   strasse                 28568 non-null  object
 5   hausnummer              28568 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.5+ MB

In [33]:
adresse.nunique()

adress_id                 28470
kreis_kreisfreie_stadt      400
ort                        5917
postleitzahl               6260
strasse                   17975
hausnummer                 1623
dtype: int64

In [34]:
# Zählen der Vorkommen jeder Adress-Kombination pro adress_id
address_counts = data.groupby(["adress_id", "kreis_kreisfreie_stadt", "ort", "postleitzahl", "strasse", "hausnummer"]).size().reset_index(name="count")

# Für jede adress_id die Kombination mit der höchsten Anzahl behalten
adress = address_counts.loc[address_counts.groupby("adress_id")["count"].idxmax()]

adress.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28470 entries, 0 to 28567
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adress_id               28470 non-null  int64
 1   kreis_kreisfreie_stadt  28470 non-null  object
 2   ort                     28470 non-null  object
 3   postleitzahl            28470 non-null  int64
 4   strasse                 28470 non-null  object
 5   hausnummer              28470 non-null  object
 6   count                   28470 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.7+ MB

In [35]:
adresse = adresse.drop_duplicates(subset='adress_id', keep='first')

In [45]:
adresse.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28470 entries, 30764 to 26917
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adress_id               28470 non-null  int64
 1   kreis_kreisfreie_stadt  28470 non-null  object
 2   ort                     28470 non-null  object
 3   postleitzahl            28470 non-null  int64
 4   strasse                 28470 non-null  object
 5   hausnummer              28470 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.5+ MB

In [44]:
adresse.nunique()

adress_id                 28470
kreis_kreisfreie_stadt      400
ort                        5876
postleitzahl               6260
strasse                   17975
hausnummer                 1623
dtype: int64

In [36]:
# Tabelle: ladeeinrichtung

In [37]:
data.columns

Index(['ladeeinrichtung_id', 'betreiber', 'art_der_ladeeinrichung',
       'anzahl_ladepunkte', 'anschlussleistung', 'steckertypen1',
       'steckertypen2', 'steckertypen3', 'steckertypen4', 'p1_kw', 'p2_kw',
       'p3_kw', 'p4_kw', 'kreis_kreisfreie_stadt', 'ort', 'postleitzahl',
       'strasse', 'hausnummer', 'adresszusatz', 'inbetriebnahmedatum',
       'breitengrad', 'laengengrad', 'betreiber_id', 'standort_id',
       'adress_id'],
      dtype='object')

In [38]:
ladeeinrichtung = data[['ladeeinrichtung_id', 'art_der_ladeeinrichung', 'anzahl_ladepunkte', 'anschlussleistung', 'steckertypen1','steckertypen2', 'steckertypen3', 'steckertypen4', 'p1_kw', 'p2_kw', 'p3_kw', 'p4_kw', 'inbetriebnahmedatum', 'betreiber_id', 'standort_id']]

In [39]:
ladeeinrichtung.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34434 entries, 30764 to 26917
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ladeeinrichtung_id      34434 non-null  int64
 1   art_der_ladeeinrichung  34434 non-null  object
 2   anzahl_ladepunkte       34434 non-null  int64
 3   anschlussleistung       34434 non-null  float64
 4   steckertypen1           34434 non-null  object
 5   steckertypen2           29190 non-null  object
 6   steckertypen3           2050 non-null   object
 7   steckertypen4           997 non-null    object
 8   p1_kw                   34434 non-null  float64
 9   p2_kw                   29196 non-null  float64
 10  p3_kw                   2050 non-null   float64
 11  p4_kw                   996 non-null    float64
 12  inbetriebnahmedatum     34434 non-null  object
 13  betreiber_id            34434 non-null  int64
 14  standort_id             34434 non-null  int64
dtypes: float64(5), int64(4), object(6)
memory usage: 4.2+ MB

In [40]:
ladeeinrichtung.to_csv('ladeeinrichtung.csv', index=False, na_rep='NULL')

In [41]:
betreiber.to_csv('betreiber.csv', index=False)

In [42]:
standort.to_csv('standort.csv', index=False)

In [43]:
adresse.to_csv('adresse.csv', index=False)